html{
    scroll-behavior: smooth;
}

body{
    font-family: "playfair";
}

title{
    display: none;
}
.fixo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #2f8000;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu{
    background-color: rgba(6, 31, 63, 0.288);
    padding: 0%;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 1.5em;
    line-height: 1;
    font-family: 'Climate Crisis', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tilt Warp', cursive;
    
      
}

body{
background-color: #4169E1;
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover ;

}
section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{
    width: 80%;
    margin: auto;
    position: relative;
   
}


h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;   
    text-shadow: 2px 2px 5px#a4b3e2	;
    font-size: 2em;
    margin-top: 13%;
    margin-bottom: 1%; 
    font-family: 'Climate Crisis', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tilt Warp', cursive;

     
}

h2{
    color:rgba(2, 14, 22, 0.959);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;   
    text-shadow: 2px 2px 5px#a4b3e2	;
    font-size: 3em;
    margin-top: -6.5%;
    margin-bottom: 1%; 
    font-family: 'Climate Crisis', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tilt Warp', cursive; 
  	
}

.img_corpo{
    width: 75%;
    
}

figure{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;

}
.img_toop{
        width: 80%;
        margin-top: 12.5%;
    }

.logo{
        text-align: center;
  
    }

.img_logo{
        width: 16%;
        position: relative;
        margin-top: 1%;
    }

p{
        font-size: 1.6em;
        color: rgb(255, 255, 255);
        font-weight: normal;
        text-indent: 60px;
        text-align: justify;
        line-height: 1.5;
        font-style: oblique;
    }

.titulo{
    color:rgba(2, 14, 22, 0.959);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;   
    text-shadow: 2px 2px 5px#a4b3e2	;
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 0%; 
    font-family: 'Climate Crisis', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tilt Warp', cursive; 
}

footer{
    background-color: rgba(6, 31, 63, 0.288);

    }

footer p{
    background-color: rgba(6, 31, 63, 0.288);
    padding: 1em;
    position: absolute;
    bottom: 0;
    right: 0%;
    top: 89%;
    width: 100%;
    height: 2.5rem; 
    }
.center{
        text-align: center;
    }
   
    
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(147, 204, 241);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #87CEFA;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
    color: #8FBC8F;
    background-color: transparent;
    text-decoration: underline;
}

.direita{
    float:left;
    margin-right: 2%;
    width: 45%;
}


.form{
    background-color: rgba(0, 0, 0, 0.267) ;
    padding: 70px;
    border-radius: 10px;
    font-size:1.5em
    
  
}

input[type=text], input[type=tel], input[type=email], select, textarea  {
    width: 80%;
    padding: 19px;
    border: 3px solid #084e8f ;
    border-radius: 20px;
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px#2F4F4F 
   
    
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-shadow: 2px 2px 5px#151c5aa4 
    

  }

  .submit{
    background-color:rgba(27, 36, 112, 0.377)  ;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px#2F4F4F 
      
  }

  .submit:hover {
    background-color:#001e80	 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-shadow: 2px 2px 5px#151c5aa4 
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   /* Altera configuração quanod a tela está menor que 600px */
  @media screen and (max-width:600px){
      .col-25, .col-75, input[type=submit]{
          width: 100%;
          margin-top: 0;
      }
      .logo{
          text-align: center;
      }
      .img_logo{
          width: 20%;
      }
      .banner{
          margin-top: 40%;
      }
      .descer{
          margin-top: 50%;
      }
  }
  
  /* Altera configuração quando a tela for maior que 601 px*/
  @media  screen and (min-width:601px) {

      header{
          background-color: #0080800a;
          flex-direction: row;
          padding: 4%;
      }
      
  }
  .itens_menu{
      position: relative;
      right: 6%;
      left: 20%;
      width: 70%
  }

  .itens_menu ul li{
      display: inline;
      margin-left: 1% ;   
  }


  .img_logo{
      width: 30%;
  }

  .logo{
      width: 30%;
      text-align: center;
  }

  .banner{
      margin-top: 1%;
  }

  .descer{
      margin-top: 13%;
     
  }

  

  