html{
    scroll-behavior: smooth;
}

body{
    font-family: "playfair";
}

.fixo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #2f8000;
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.menu{
    background-color: rgba(6, 31, 63, 0.288);
    padding: 0%;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 1.5em;
    line-height: 1;
    font-family: 'Roboto Mono', monospace;
    
      
}

body{
background-color: #4169E1;
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover ;

}
section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{
    width: 80%;
    margin: auto;
    position: relative;
   
}


h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700; 
    font-style: inherit;    
    text-shadow: 2px 2px 5px#a4b3e2	;
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1%;  
     
}

h2{
     text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: 700; 
     font-style: inherit;    
     text-shadow: 2px 2px 5px#a4b3e2	;
     font-size: 5em;
     margin-top: 1%;
     margin-bottom: 1%;  
  	
}

.img_corpo{
    width: 75%;
    
}

figure{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;

}
    .img_toop{
        width: 80%;
        margin-top: 12.5%;
    }
    .logo{
        text-align: center;
       
        
    }
    .img_logo{
        width: 16%;
        position: relative;
        margin-top: 1%;

        
    }
    p{
        font-size: 1.4em;
        color: rgb(255, 255, 255);
        font-weight: normal;
        text-indent: 60px;
        text-align: justify;
        line-height: 1.5;
        font-style: oblique;
    }
    footer{
        background-color: #e6e6fa00;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
    }
    .center{
        text-align: center;
    }
   
    
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(147, 204, 241);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #87CEFA;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
    color: #8FBC8F;
    background-color: transparent;
    text-decoration: underline;
}

.direita{
    float:left;
    margin-right: 2%;
    width: 45%;
}


.form{
    background-color: rgba(0, 0, 0, 0.267) ;
    padding: 40px;
    border-radius: 10px;
    
  
}

input[type=text], input[type=tel], input[type=email], select, textarea  {
    width: 80%;
    padding: 12px;
    border: 2px solid #2F4F4F ;
    border-radius: 25px;
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px#2F4F4F 
    
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-shadow: 2px 2px 5px#2F4F4F 
    

  }

  input[type=submit] {
    background-color:rgba(189, 175, 175, 0.301)  ;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px#2F4F4F   
  }

  input[type=submit]:hover {
    background-color:#008080	 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-shadow: 2px 2px 5px#2F4F4F
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   /* Altera configuração quanod a tela está menor que 600px */
  @media screen and (max-width:600px){
      .col-25, .col-75, input[type=submit]{
          width: 100%;
          margin-top: 0;
      }
      .logo{
          text-align: center;
      }
      .img_logo{
          width: 20%;
      }
      .banner{
          margin-top: 40%;
      }
      .descer{
          margin-top: 50%;
      }
  }
  
  /* Altera configuração quando a tela for maior que 601 px*/
  @media  screen and (min-width:601px) {

      header{
          background-color: #0080800a;
          flex-direction: row;
          padding: 4%;
      }
      
  }
  .itens_menu{
      position: relative;
      right: 6%;
      left: 20%;
      width: 70%
  }

  .itens_menu ul li{
      display: inline;
      margin-left: 1% ;   
  }


  .img_logo{
      width: 30%;
  }

  .logo{
      width: 30%;
      text-align: center;
  }

  .banner{
      margin-top: 1%;
  }

  .descer{
      margin-top: 13%;
     
  }

  

  